.forgetPassword-message{
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.forgetPassword-message h1{
  font-size: 32px;
  margin-bottom: 15px;
  color:#2188bb ;
}

.forgetPassword-message h3{
  max-width: 500px;
  font-size: 18px;
  line-height: 1.6;
  color: black;
  font-weight: bolder;
}